%h3 List Alcool

Alcool
= alcool.name

Quantity
= alcool.quantity

= form_for @alcool do |f|
  .field
    = f.label :decrease
    = f.text_field :temp
  .field
    = f.label :increase
    = f.text_field :temp

